.stops-screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.stops-toolbar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
    height: 50px;
}

.stops-toolbar__sort-box {
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.sorb-box__label {
    user-select: none;
    color: #999;
    font-size: 0.9rem;
}

.stops-toolbar__sort-select {
    appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    background-color: #1E1E2F;
    color: #999;
    font-family: Roboto Mono, monospace;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    width: fit-content;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
    text-align: center;
}

.stops-toolbar__sort-select:hover {
    color: #fff;
}

.sort-ascend-descend-indicator svg {
    display: none;
    width: 20px;
    height: 20px;
    stroke: #999;
    stroke-width: 2px;
    transition: 0.2s ease;
}

.sort-ascend-descend-indicator:hover svg {
    stroke: #fff;
}

.sort-ascend-descend-indicator.ascending svg.ascending {
    display: block;
}

.sort-ascend-descend-indicator.descending svg.descending {
    display: block;
}

.stops-toolbar__search-container {
    flex-grow: 2;
    height: 100%;
    display: flex;
    align-items: center;
}

.stops-toolbar__search-input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #999;
    border-radius: 50em;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-family: Roboto Mono, monospace;
    transition: 0.2s ease;
}

.stops-toolbar__search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.stops-toolbar__search-input:hover {
    border: 1px solid #fff;
}

.stops-toolbar__search-input:focus {
    outline: none;
    border: 2px solid #fff;
}

.stops-toolbar__search-input:focus::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* .stops-toolbar__add-new-stop {
    background-color: transparent;
    border-radius: 50em;
    border: 1px solid #999;
    font-family: Roboto Mono, monospace;
    font-size: 1rem;
    color: #999;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.stops-toolbar__add-new-stop:hover {
    border: 1px solid #fff;
    color: rgba(255, 255, 255, 1);
} */

.no-stops-message {
    text-align: center;
    color: #999;
    font-family: Roboto Mono, monospace;
    font-size: 1.3rem;
    grid-column: name-start / routes-end;
    padding: 20px;
}

.stops-list__container {
    width: 90%;
    max-width: 900px;
    max-height: 70vh;
    overflow: auto;
    margin-top: 20px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.stops-list-grid-layout {
    display: grid;
    min-width: 700px;
    grid-template-columns: [name-start] 1fr [name-end coords-start] 20% [coords-end audio-start] 10% [audio-end radius-start] 10% [radius-end routes-start]15% [routes-end];
    gap: 0 7px;
}

.stops-list__header {
    font-family: Roboto Mono, monospace;
    color: rgba(255 255 255 / 0.8);
    background-color: #1E1E2F;
    border-radius: 8px 8px 0 0;
    -webkit-mask-image: radial-gradient(white 100%, transparent 100%);
        mask-image: radial-gradient(white 100%, transparent 100%);
        -webkit-mask-composite: destination-in;
        mask-composite: intersect;
}

.stops-list__header.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.stops-list__pin-header {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    border-radius: 50em;
    z-index: 10;
    cursor: pointer;
}

.stops-list__pin-header svg {
    display: block;
    width: 25px;
    height: 25px;
    stroke:rgba(255, 255, 255, 0.7);
    stroke-width: 2px;
    transition: 0.2s;
}

.stops-list__pin-header:hover svg {
    stroke: #fff;
}

.stops-list__header .header-cell {
    background-color: rgb(0 255 165 / 33%);
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    text-align: center;
}

.stops-list__header .header-cell:first-child {
    border-top-left-radius: 8px;
}

.stops-list__header .header-cell:last-child {
    border-top-right-radius: 8px;
}

.stops-list__row {
    display: grid;
    grid-template-columns: subgrid; 
    grid-column: name-start / routes-end;
    color: rgba(255 255 255 / 0.8);
    font-family: Roboto Mono, monospace;
}

.stops-list__row:hover {
    background-color: rgba(255 255 255 / 0.05);
}

.stops-list__row div {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 5px 0;
    text-align: center;
    position: relative;
}

.stops-list__row div:after {
    content: '';
    position: absolute;
    right: -4px;
    top: 0;
    height: 70%;
    transform: translateY(25%);
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.stops-list__row div:last-child:after {
    display: none;
}

.stops-list__row .name-cell {
    grid-column: name-start / name-end;
    justify-content: left;
    text-align: left;
    padding-left: 5px;
}

.stops-list__row .coords-cell {
    grid-column: coords-start / coords-end;
    flex-direction: column;
}

.stops-list__row .audio-cell {
    grid-column: audio-start / audio-end;
}

.stops-list__row .radius-cell {
    grid-column: radius-start / radius-end;
}

.stops-list__row .routes-cell {
    grid-column: routes-start / routes-end;
    gap: 10px;
}

.stops-list__row .routes-cell .show-routes {
    display: none;
    font-size: small;
    padding: 2px 5px;
    border-radius: 50em;
    cursor: pointer;
    background-color: #44475A;
}

.stops-list__row .routes-cell:hover .show-routes {
    display: inline-block;
}

.routes-info-container {
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 8px;
    background-color: #2f313e;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.routes-info-header {
    background-color: #44475A;
    color: #fff;
    padding: 5px 23px 5px 10px;
    border-radius: 8px 8px 0 0;
    font-family: Roboto Mono, monospace;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.routes-info-list-wrapper {
    max-height: 170px;
    border-radius: 0 0 8px 8px;
    overflow-y: auto;
}

.routes-info-list {
    color: rgba(255, 255, 255, 0.9);
    font-family: Roboto Mono, monospace;
    font-size: 0.9rem;
    padding: 5px 5px 5px 30px;
}

.routes-info__close-button {
    position: absolute;
    top: 13px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    line-height: 0;
    cursor: pointer;
    transform: rotate(45deg);
}

@media (max-width: 1000px) {
    .stops-list__container {
        width: 100%;
    }
}